@{
    Layout = "";
    var meetingMatterList = ViewData["meetingMatterList"] as List<BsonDocument>;
    var index = 0;
}
@if (meetingMatterList.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>地块/项目</th>
                <th>会议类型</th>
                <th>完成事项</th>
                <th>完成时间</th>
            </tr>
        </thead>
        @foreach (var meetingMatter in meetingMatterList)
        {
            <tr>
                <td>
                    @(++index)
                </td>
                <td>
                    @meetingMatter.String("landProjName")
                </td>
                <td>
                    @meetingMatter.String("meetingName")
                </td>
                <td>
                    @meetingMatter.String("MatterName")
                </td>
                <td>
                    @meetingMatter.String("date")
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        暂无数据！
    </div>
}