@{
    Layout = "";
    List<BsonDocument> reportList = ViewData["reportList"] != null ? ViewData["reportList"] as List<BsonDocument> : new List<BsonDocument>();
    List<BsonDocument> headerList = ViewData["headerList"] != null ? ViewData["headerList"] as List<BsonDocument> : new List<BsonDocument>();
    int maxLevel = 1;
    if (headerList.Count() > 0)
    {
        maxLevel = headerList.Max(i => i.Int("nodeLevel"));
    }
    TreeHandle.InitTableNode(headerList, maxLevel);
    headerList = headerList.OrderBy(i => i.Text("nodeKey")).ToList();
    int colCount = headerList.Count() + 1;
    int index = 0;
}
<table class="table table-hover">
    <colgroup>
        <col width="10%" />
        <col width="30%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
    </colgroup>
    <thead>
        @for (var i = 1; i <= maxLevel; i++)
            {
            <tr>
                @if (i == 1)
                {
                    <th rowspan="@maxLevel" align="center">
                        序号
                    </th>
                }
                @foreach (var head in headerList.Where(c => c.Int("nodeLevel") == i).ToList())
                {
                    var curNodeList = headerList.Where(c => c.Int("nodePid") == head.Int("headerId")).ToList();
                    var rowspan = curNodeList.Count() > 0 ? 1 : head.Int("nodeLevel") == maxLevel ? 1 : (maxLevel - head.Int("nodeLevel") + 1);
                    var colspan = curNodeList.Count() > 0 ? curNodeList.Count() : 1;
                    <th rowspan="@rowspan" colspan="@colspan" align="center">
                        @head.String("name")
                    </th>
                }
            </tr>
        }
    </thead>
    @foreach (var temp in reportList)
    {

        <tr>
            <td>
                @(++index)
            </td>
            @foreach (var head in headerList.Where(c => c.Int("isLeaf") == 1).ToList())
                {
                <td>
                    @temp.String(head.String("storageFieldName"))
                </td>
            }
        </tr>
    }
    @if (reportList.Count == 0)
    {
        <tr>
            <td colspan="@colCount">
                暂无！
            </td>
        </tr>
    }
</table>
